<launch>

  <node pkg="tf" type="static_transform_publisher" name="iai_apartment_root_link_broadcaster" args="0 0 0 0 0 0 map iai_apartment/apartment_root 25"></node>

  <arg name="model" default="$(find iai_apartment)/urdf/apartment.xacro" />
  <param name="apartment_description" command="$(find xacro)/xacro '$(arg model)'" />

  <node name="apartment_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <remap from="robot_description" to="apartment_description" />
    <remap from="joint_states" to="apartment_joint_states" />
    <param name="tf_prefix" value="iai_apartment" />
    <param name="publish_frequency" value="60" />
  </node>

  <node pkg="joint_state_publisher" type="joint_state_publisher" name="apartment_joint_state_publisher" output="screen">
    <remap from="robot_description" to="apartment_description" />
    <param name="rate" value="25" />
    <remap from="/joint_states" to="/apartment_joint_states" />
    <rosparam param="source_list">
      - /iai_kitchen/cram_joint_states
    </rosparam>
  </node>

</launch>