<launch>
 
  <param name="room_description" 
    command="$(find xacro)/xacro.py '$(find iai_kitchen_defs)/room/room.urdf.xml'"
  />  

  <node pkg="tf" type="static_transform_publisher" name="room_link_broadcaster" 
    args="-3.45 -3.90 0 -3.141 0 0 /map /iai_lab/room_link 200">
  </node>

  <node pkg="robot_state_publisher" type="robot_state_publisher"
    name="room_state_publisher" output="screen">
    <param name="tf_prefix" value="/iai_lab"/>
    <param name="publish_frequency" value="2"/>
    <remap from="robot_description" to="room_description" />
  </node>
  
</launch>
