<?xml version="1.0"?>

<launch>
  <arg name="model" default="$(find iai_kitchen)/urdf/IAI_kitchen.urdf.xacro"/>
  <param name="kitchen_description" command="$(find xacro)/xacro.py '$(arg model)'" />
                            

  <arg
    name="gui"
    default="false" />
  <param
    name="use_gui"
    value="$(arg gui)" />
  
  <node pkg="tf" type="static_transform_publisher" name="room_link_broadcaster_gazebo"
    args="0.0 0.0 0. 0.0 0. 0. /map /iai_kitchen/world 200">
  </node>
  <node
    name="kitchen_joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher" >
    <remap from="robot_description" to="kitchen_description"/>
    <remap from="joint_states" to="kitchen_joint_states"/>
  </node>
  
  <node name="spawn_kitchen" pkg="gazebo_ros" type="spawn_model" args="
    -param kitchen_description 
    -urdf
    -model IAI_kitchen
  "/>
  
  <node
    name="kitchen_state_publisher_gazebo"
    pkg="robot_state_publisher"
    type="state_publisher" >
    <param name="tf_prefix" value="iai_kitchen"/>
    <remap from="robot_description" to="kitchen_description"/>
    <remap from="joint_states" to="kitchen_joint_states"/>
    <param name="publish_frequency" value="3"/>
  </node>
</launch>
