<?xml version="1.0"?>


<launch>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <!--
    <arg name="world_name" value="$(find iai_kitchen)/worlds/kitchen_env_2015.world"/>
      -->
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
  <!--
  <node
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher" >
  </node>
  -->
  <include file="$(find iai_kitchen)/launch/gazebo_spawn_kitchen.launch"/>
</launch>
