<?xml version="1.0"?>

<robot name="iai_table" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="iai_table_1" params="name parent *origin">
    <link name="${name}_main">
      <xacro:sphere_inertia radius="0" mass="0"/>
      <visual>
        <origin xyz="0 0 0.3619" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://iai_kitchen/meshes/misc/big_table_1.dae"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0.3619" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://iai_kitchen/meshes/misc/big_table_1.obj"/>
        </geometry>
      </collision>
    </link>
    <joint name="${name}_main_joint" type="fixed">
      <xacro:insert_block name="origin"/>
      <parent link="${parent}"/>
      <child link="${name}_main"/>
    </joint>
  </xacro:macro>

  <xacro:macro name="jokkmokk_table" params="name parent *origin">
    <link name="${name}_main">
      <xacro:sphere_inertia radius="0" mass="0"/>
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://iai_kitchen/meshes/jokkmokk/JokkmokkTable.dae"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://iai_kitchen/meshes/jokkmokk/JokkmokkTable.obj"/>
        </geometry>
      </collision>
    </link>
    <joint name="${name}_main_joint" type="fixed">
      <xacro:insert_block name="origin"/>
      <parent link="${parent}"/>
      <child link="${name}_main"/>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
    </joint>
  </xacro:macro>

  <xacro:macro name="jokkmokk_chair" params="name parent *origin">
    <link name="${name}_main">
      <xacro:sphere_inertia radius="0" mass="0"/>
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://iai_kitchen/meshes/jokkmokk/JokkmokkChair.dae"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://iai_kitchen/meshes/jokkmokk/JokkmokkChair.obj"/>
        </geometry>
      </collision>
    </link>
    <joint name="${name}_main_joint" type="fixed">
      <xacro:insert_block name="origin"/>
      <parent link="${parent}"/>
      <child link="${name}_main"/>
    </joint>
  </xacro:macro>

  <xacro:macro name="iai_dining_area" params="parent name *origin">
    <link name="${name}_footprint">
      <xacro:sphere_inertia radius="0" mass="0"/>
    </link>
    <joint name="${name}_footprint_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <child link="${name}_footprint"/>
      <parent link="${parent}"/>
    </joint>
    <xacro:jokkmokk_table name="${name}_jokkmokk_table" parent="${name}_footprint">
      <origin xyz="0 0 0.35" rpy="0 0 0" />
    </xacro:jokkmokk_table>
    <xacro:jokkmokk_chair name="${name}_jokkmokk_left_chair" parent="${name}_footprint">
      <origin xyz="-1 0 0.5535" rpy="0 0 0" />
    </xacro:jokkmokk_chair>
    <xacro:jokkmokk_chair name="${name}_jokkmokk_right_chair" parent="${name}_footprint">
      <origin xyz="1 0 0.5535" rpy="0 0 ${-pi}" />
    </xacro:jokkmokk_chair>
  </xacro:macro>
</robot>
