<robot xmlns:xacro="http://ros.org/wiki/xacro" name="apartment">

  <link name="apartment_root">
    <origin rpy="0 0 0" xyz="0 0 0" />
  </link>

  <!-- furnitures, including wardrobe, sofa and coffee table -->
  <xacro:include filename="$(find iai_apartment)/urdf/furnitures.xacro" />
  <xacro:kitchen_macro name="furnitures_base" parent="apartment_root">
    <origin xyz="8.85 1.75 0.0" />
  </xacro:kitchen_macro>

  <!-- kitchen, kitchen on the walls -->
  <xacro:include filename="$(find iai_apartment)/urdf/kitchen.xacro" />
  <xacro:kitchen_macro name="kitchen_base" parent="apartment_root">
    <origin xyz="-0.03 0.75 0.005" />
  </xacro:kitchen_macro>

</robot>