<?xml version="1.0"?>

<robot name="spoon_rounded_projected">
  <link name="spoon_rounded_frame_projected">
    <visual>
      <geometry>
        <mesh filename="package://iai_kitchen/meshes/racks/BoxyToolholder/Holder_Spoon.stl"/>
      </geometry>
      <material name="blue">
         <color rgba="0.0 0.0 1.0 1.0"/>
      </material>
    </visual>
  </link>
</robot>
